{% extends 'base.html.twig' %}

{% block title %}WOW regarde la belle montre{% endblock %}


{% block main %}
    <div class="example-wrapper">
        <h1>{{ montre.brand }}</h1>
        <p>ID {{ montre.id }}</p>

        <a href='{{ url }}' class="btn">Back </a>

    </div>
{% endblock %}
