{% extends 'base.html.twig' %}

{% block title %}Nouvelle Montre{% endblock %}

{% block main %}
    <div class="container mt-4">
        <h1 class="text-center" style="color: #008157;">Créer une nouvelle Montre</h1>

        <div class="my-4">
            {{ include('montre/_form.html.twig') }}
        </div>

        <div class="text-center">
            <a href="{{ path('remontoire_show', {'remontoire_id' : remontoire.id, 'member_id' : remontoire.member.id}) }}" class="btn btn-custom-outline">Retour</a>
        </div>
    </div>

    <style>
        .btn-custom-outline {
            border: 1px solid #008157; /* Bordure Vert Rolex */
            color: #008157; /* Texte Vert Rolex */
        }

        .btn-custom-outline:hover {
            background-color: #008157; /* Fond Vert Rolex */
            color: white;
        }
    </style>
{% endblock %}
