{% extends 'base.html.twig' %}

{% block title %}Modifier Remontoire{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center" style="color: #008157;">Modifier Votre Remontoire</h1>

        <div class="my-4">
            {{ include('remontoire/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>

        <div class="text-center mb-3">
            <a href="{{ path('member_index') }}" class="btn btn-custom-outline">Retour</a>
        </div>
    </div>

    <style>
        .btn-custom-outline {
            border: 1px solid #008157; /* Bordure Vert Rolex */
            color: #008157; /* Texte Vert Rolex */
        }

        .btn-custom-outline:hover {
            background-color: #008157; /* Fond Vert Rolex */
            color: white;
        }

    </style>
{% endblock %}
