{% extends 'base.html.twig' %}

{% block title %}New Remontoire{% endblock %}

{% block main %}
    <h1>Create new Remontoire</h1>

    {{ include('remontoire/_form.html.twig') }}

    <a href="{{ path('member_show', {'id' : member.id})}}">back to list</a>
{% endblock %}
